div {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid green;
}

.com-bb {
    background-color:lightblue;
    box-sizing: border-box;
}

.sem-bb {
    background-color: lightcoral;
}